{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_group_show">
  <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
  <ul class="record_actions">
    <li>
      <a href="{{ path('fos_user_group_list') }}">
        Back to the list
      </a>
    </li>
    <li><a href="{{ path('fos_user_group_edit', { 'groupName': group.getName() }) }}">Edit</a></li>
  </ul>
</div>
